.custom-letter-spacing {
  letter-spacing: 0.2em;
}

.logo-img {
  width: 91px;
  height: 35px;
}

.perfil-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#inicio {
  margin-top: 70px;
}

section {
  height: 100vh;
  width: 100%;
}

nav{
  display: flex;
}

@media (max-width: 768px) {
  section {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Redefina a altura para 'auto' para que as seções se ajustem ao conteúdo */
    /* Outros estilos específicos para telas menores, se necessário */
  }
}

/* .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  margin-top: 46px
} */

.center {
  text-align: center;
}


div {
  text-align: justify;
}


.full-height-section {
  height: 100vh;
}

.elamsm{
  color: black;
}

section h1{
  color: white;
}

.carousel-item {
  background: rgba(0, 0, 0, 0.5);
}


.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.teste {
  display: flex;
}

.color-white {
  color: white;
}

.float-to-right {
  float: right;
}

.list-group {
  margin-top: 150px;
  margin-left: 15px;
}

/* .carousel-control-prev .carousel-control-prev-icon {
  background-image: url(/src/images/left-arrow.png);
}

.carousel-control-next .carousel-control-next-icon {
  background-image: url(/src/images/right-arrow.png);
} */

.borrada {
  filter: blur();
}

.icon-contat {
  width: 20px;
  height: 20px;
}

.icon-justify-contat {
  width: 25px;
  height: 25px;
}

.margin-topo {
  margin-top: 150px;
}

.margin-topo2 {
  margin-top: 350px;
}

.margin-topo3 {
  margin-top: 100px;
}

.margin-left3{
  margin-left: 200px;
}

.margin-topo4{
  margin-top: 65px;
}


.margin-left {
  margin-left: 50px;
}

.margin-left2 {
  margin-left: 100px;
}
