.custom-letter-spacing {
  letter-spacing: 0.2em;
}

.logo-img {
  width: 91px;
  height: 35px;
  ;
}

.perfil-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#inicio {
  margin-top: 70px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  margin-top: 46px
}

.center {
  text-align: center;
}

div{
  text-align: justify;
}

/* section{
  height: 800px;
  max-width:800px;
  box-sizing: inherit;
} */

.full-height-section {
  height: 100vh;
}

.color-white{
  color: white;
}

.limit-metad{
  max-width: 50%;
}

.icon-contat{
  width: 20px;
  height: 20px;
}
.icon-justify-contat{
  width: 25px;
  height: 25px;
}

.margin-topo{
  margin-top: 150px;
}